<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="images/favicon.ico" type="image/ico">
    <title>About</title>
</head>
<body>
    
    {{>navbar}}

    <!--ABOUT SECTION STARTS-->

    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text">
               <figure>
                  <img src="images/about.svg" alt="image">
               </figure>
            </div>
            
            <!--RIGHT SIDE-->
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
               <h1>WE ARE PROFESSIONAL DEVELOPERS</h1>
               
               <p>Welcome to <span class="bold-style"> Aryan's Website </span>
               , your number one source for all requirements. We are dedicated to providing
               you the very best of services, with a focus on Three Characteristics : Dependability,
               Customer Service and Uniqueness.</p>
               <button class="btn btn-style btn-danger read-more-btn"><b>Read More</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ABOUT SECTION STARTS-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>